@{
    ViewBag.Title = "Home Page";
}



<button style=" background: #FFFF; color: white; border-style: groove; border-color: #0000FF; height: 70px; width: 10vmax; font: bold15px arial,sans-serif; text-shadow: none; border-radius: 10px; font-weight: 300; margin-top:50px; text-decoration: none; color: white">@Html.ActionLink("Course", "Index", "Course")</button>
<button style=" background: #FFFF; color: white; border-style: groove; border-color: red; height: 70px; width: 10vmax; font: bold15px arial,sans-serif; text-shadow: none; border-radius: 10px; font-weight: 300; margin-top:50px; text-decoration: none; color: white">@Html.ActionLink("Batch", "Index", "Batch")</button>
<button style=" background: #FFFF; color: white; border-style: groove; border-color: forestgreen; height: 70px; width: 10vmax; font: bold15px arial,sans-serif; text-shadow: none; border-radius: 10px; font-weight: 300; margin-top:50px; text-decoration: none; color: white">@Html.ActionLink("Registration", "Index", "Registration")</button>
<button style=" background: #FFFF; color: white; border-style: groove; border-color: purple; height: 70px; width: 10vmax; font: bold15px arial,sans-serif; text-shadow: none; border-radius: 10px; font-weight: 300; margin-top:50px; text-decoration: none; color: white">@Html.ActionLink("User", "Index", "User")</button>


